<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Application" />
    <f:section name="Default">

        <div class="my-24 text-center" data-controller="hello">
            <h1 class="font-bold text-3xl">Welcome to the Pagedoctor Starter extension</h1>
            <p class="text-lg text-gray-500 my-4">You can edit this file at EXT:pagedoctor_starter/Resources/Private/Templates/Page/Default.html</p>
        </div>

        <f:cObject typoscriptObjectPath="lib.pagedoctorContent" data="{colPos: '0'}" />
    </f:section>
</html>
