<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="hidden lg:relative lg:block lg:flex-none">
        <div class="absolute inset-y-0 right-0 w-[50vw] bg-slate-50 dark:hidden"></div>
        <div class="absolute bottom-0 right-0 top-16 hidden h-12 w-px bg-gradient-to-t from-slate-800 dark:block"></div>
        <div class="absolute bottom-0 right-0 top-28 hidden w-px bg-slate-800 dark:block"></div>
        <div class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto overflow-x-hidden py-16 pl-0.5">
            <nav class="text-base lg:text-sm w-64 pr-8 xl:w-72 xl:pr-16">
                <ul role="list" class="space-y-9">
                    <f:for each="{tree.0.children}" as="element">
                        <f:if condition="{element.spacer}">
                            <f:then>
                                <f:if condition="{spacerId}">
                                    <f:if condition="{spacerId} != {element.data.uid}">
                                        <f:comment>Close li Element</f:comment>
                                            </ul>
                                        </li>
                                    </f:if>
                                </f:if>
                                <f:variable name="spacerId" value="{element.data.uid}" />
                                <li>
                                    <h2 class="font-display font-medium text-slate-900 dark:text-white">{element.title}</h2>
                                    <ul role="list" class="mt-2 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                            </f:then>
                            <f:else>
                                <li class="relative">
                                    <f:if condition="{element.active} || {element.current}">
                                        <f:then>
                                            <a class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full font-semibold text-teal-500 before:bg-teal-500" href="{element.link}">{element.title}</a>
                                        </f:then>
                                        <f:else>
                                            <a class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 before:bg-slate-700 hover:text-slate-300" href="{element.link}">{element.title}</a>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:else>
                        </f:if>
                    </f:for>
                    <f:if condition="{spacerId}">
                            </li>
                        </ul>
                    </f:if>
                </ul>
            </nav>
        </div>
    </div>
</html>